/* *header_section* */

/* Accueil / Index.php */
@media  screen and (max-width: 900px) {
  ul {
    display: flex;
    flex-direction: column;
  }
}

@media  screen and (max-width: 1200px) {
  h1, h2, h3, p {
    font-size: x-large;
    font-style: oblique;
  }
}

@media screen and (max-width: 1200px) {
  #container, .image{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px){
  #container section img {
     width: 100%;         
     height: auto;          
     max-width: 900px;     
     display: block;       
     margin: 0 auto;       
     object-fit: cover;
  }
}

/* slider accueil */

/* -------------------------------------------------------------------------------------- */

@media screen and (max-width: 1200px) {
  #slider img {
    width: 100%;
  }
}

/* ------------------------------------------------------------------------------------------- */



/* *Formulaire contact / contact.php* */


@media screen and (max-width :1200px) {
  body {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  fieldset #info, fieldset #messages{
    width: 2rem;
  }
}

@media screen and (max-width:1300px) {
  #div_nm input, #div_fnm input, #email, #message  {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: 2rem;
    border: 3px solid lightskyblue;
    font-weight: 400;
    font-style: oblique;
  }
}

@media screen and (max-width:1200px) {
  ::placeholder {
    font-size: x-large;
  }
}

@media screen and (max-width: 1200px) {
.select-grand {
  font-size: 18px;       /* augmente la taille du texte visible */
  padding: 12px 15px;    /* augmente l'espace autour du texte */
  line-height: 1.2;      /* ajuste un peu la hauteur si besoin */
  height: auto;          /* utile si d'autres styles le bloquent */
}
}


@media screen and (max-width: 1200px) {
  #button, #retour-accueil {
    width: 70%;
    font-size: xx-large;
  }
}




