/* *header_section* */

/* Accueil / Index.php */

@media  screen and (max-width: 900px) {
  body {
   width: 100%;
  }
}


@media  screen and (max-width: 900px) {
  ul, #rasso-section, #evenements-section, #rollingshoot-section {
    display: flex;
    flex-direction: column;
  }
}

@media  screen and (max-width: 1200px) {
  h1, h2, h3 {
    font-size: xx-large;
  }
}

@media  screen and (max-width: 1200px) {
  p, li > a {
    font-size: x-large;
  
  }
}

@media screen and (max-width: 1200px) {
  #slide-accueil, #rasso-section img, #evenements-section img, #rollingshoot-section img,
  #class-container-galeries img {
      width: 90%;
      margin: auto;
  }
}

/* -------------------------------------slider accueil */

/* ---------- footer -------------- */

@media screen and (max-width :1200px) {
  footer {
    width: 90%;
  }
}

/* ------------------------------------------------------------------ */


/* ---------------- galerie photo responsive ----------------------  */

/* *Formulaire contact / contact.php* */


@media screen and (max-width: 1200px) {
  fieldset #info, fieldset #messages{
    width: 2rem;
  }
}

@media screen and (max-width:1300px) {
  #div_nm input, #div_fnm input, #email, #message  {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: 2rem;
    border: 3px solid lightskyblue;
    font-weight: 400;
    font-style: oblique;
  }
}

@media screen and (max-width:1200px) {
  ::placeholder {
    font-size: x-large;
  }
}

@media screen and (max-width: 1200px) {
.select-grand {
  font-size: 18px;       /* augmente la taille du texte visible */
  padding: 12px 15px;    /* augmente l'espace autour du texte */
  line-height: 1.2;      /* ajuste un peu la hauteur si besoin */
  height: auto;          /* utile si d'autres styles le bloquent */
}
}


@media screen and (max-width: 1200px) {
  #button, #retour-accueil {
    width: 70%;
    font-size: xx-large;
  }
}




