body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#precedent, #suivant {
    position: absolute;
    width: 5%;
    height: 8%;
    top: 450px;
    background-color: rgb(206, 46, 46);
    color: rgb(235, 56, 56);
    cursor: pointer;
    opacity: 0.9;
    transition: opacity 0.3 ease;
    margin-left: 1em;
    margin-right: 1em;
}

#precedent {
    left: 10%;
}

#suivant {
    right: 10%;
}