/* structure css pour toutes les pages */

/* - centrer h1
   - responsive design
   - éléments intéractif js 

   - formulaire contact */

body {
    background-color: rgb(15, 15, 15);
    background : linear-gradient(90deg, rgb(31, 31, 32) 0%, rgb(17, 11, 22) 27%, rgb(4, 14, 39) 100%);
}

/* background linear sauf body & nav*/
#intro, main, #rasso-section > p, #evenements-section > p, #rollingshoot-section > p, footer {
    background : linear-gradient(90deg, rgb(70, 70, 104) 0%, rgb(17, 11, 22) 27%, rgb(4, 14, 39) 100%);
}


/* police d'éciture & couleur */
h1, h2, nav, #presentation, h3, .copyright, footer, p {
  color: azure;
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;


}

h2, #presentation, h3 {
    background : linear-gradient(90deg, rgb(58, 58, 138) 0%, rgb(17, 11, 22) 27%, rgb(13, 21, 44) 100%);
    font-size: 2em;
    text-align: center;
}


/* ------------------------  menu navigation -------------------------------------- */

nav {
    display: flex;
    top: 20%;
    padding-top: 1%;
    width: 100%;
    display: inline-block;
    text-align:center;
    font-size: x-large;
    font-style: italic;
    opacity: 0.8;
    color: azure;
    background : linear-gradient(90deg, rgb(58, 58, 138) 0%, rgb(17, 11, 22) 27%, rgb(13, 21, 44) 100%);
}

ul li {
    display: inline-block;
    margin:0 20px; 
}

/* -------------------------------------------------------------------------------- */

/* ---------------------------- css sur les liens ----------------------------------*/

a:link { 
 text-decoration:none;
 color: rgb(255, 255, 255);
} 

a:visited {
    color: rgb(253, 254, 253);
}
/* ---------------------------------------------------------------------------------- */

/* lien de la page facebook */
.facebook-link {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* --------------------------------- page d'accueil -------------------------------- */

main {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem; /* espace entre les blocs */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

/* #intro {
    margin-top: 50px;
    padding: 10px 0;
} */


/* section a mettre en flexbox */

#rasso-section, #rollingshoot-section {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#evenements-section {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
}

#rasso-section > p, #evenements-section > p, #rollingshoot-section > p {
    display: flex;
    align-items: center;       /* centre verticalement le texte */
    justify-content: center;   /* centre horizontalement le texte */
    text-align: center;        /* centre le texte sur plusieurs lignes */
    padding: 10px;
}

/* fin des sections  */

main > p {
    padding-left: 30px;
    padding-right: 30px;
    /* padding-top: 15px;
    padding-bottom: 15px; */
}

/* -------------------------- pied de page -----------------------------------*/

footer {
    width: 95%;
    padding: 10px;
}

.mentionsLégales {
    font-size: medium;
    text-align: center;
    font-style: italic;  
}

.copyright, footer {
    text-align: center;
    margin: 20px;
}


/* A VOIR PLUS TARD */
/* ---------------------------------------------------------------------------------------------- */

/*contact*/

form {
    width: 80%;
    display: block;
    margin: auto;
}
legend {
    text-align: center;
}

 legend h2 {
    font-size: x-large;
}

::placeholder {
    font-size: medium;
}

#div_nm, #div_fnm, #objet, #email, .g-recaptcha {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.select-grand {
  font-size: 15px;       /* augmente la taille du texte visible */
  padding: 10px 20px;    /* augmente l'espace autour du texte */
  line-height: 1.2;      /* ajuste un peu la hauteur si besoin */
}

fieldset #message, label {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}



#button {
    width: 30%;
    font-size: large;
    margin-top: 10px;
    background-color: aliceblue;
    color: rgb(34, 33, 33);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
/* coookie */

#consent-banner {
    background:#eee; 
    padding:10px; 
    position:fixed; 
    bottom:0; 
    width:100%; 
    text-align:center; 
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2); 
    z-index:1000;
}
#accept-cookies {
    margin-left:15px; 
    padding:5px 10px;
}


/* ------------------------------------------------------------------------------------------ */

/* destination  */

#retour-accueil {
    display: block;         
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
}




