
/*header_section*/
h1 {
    color: rgb(227, 234, 240);
    width: 100%;
    font-style: italic;
    text-align: center;   
    text-decoration: underline;
   }


nav {
    display: flex;
    top: 20%;
    padding-top: 1%;
    width: 100%;
    display: inline-block;
    text-align:center;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    background-color:#2d2d41;
    opacity: 0.8;
    color: rgb(202, 205, 208);
}

.menu {
    display: inline-block;
    margin:0 20px; 
}


a:link { 
 text-decoration:none;
 color: rgb(189, 181, 181);
} 

a:visited {
    color: rgb(252, 249, 249);
}


.facebook-link {
    position: absolute;
    top: 10px;
    right: 10px;
}


/* Accueil */
.parent {
    margin: 5%;
    display: flex;
    flex-direction: row;
}

.peugeot206 {
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.intro > p {
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    font-weight: 300;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
}

h3 {
    text-align: center;
}

section, p {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
}

.size {
    width: 80%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* ALL */

p {
    font-size:larger;
    text-align: center;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

h2, main, section, footer {
    background: #161617;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif,italic;
    font-weight: 250;
}

main > p {
    color: antiquewhite;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}


h2, .mentionsLégales {
    font-size: medium;
    text-align: center;
    font-style: italic;  
}

.copyright, footer {
    text-align: center;
    margin: 20px;
    color: antiquewhite;
}

/*contact*/

.contact-container {
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    justify-content: center;
    color: aliceblue;
    padding-top: 2%;
}

#name, #email, #message {
    width: 200%;  
}

.col-6 {
    padding-top: 5%;
}

.button {
    padding-top: 5%;
    padding-left: 5%;
}

.formulaire-contact {
    margin-right: 10%;
    width: auto;
}


/* BOOTSRAP*/

#carouselExampleFade {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

